extends layout

block body
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#") Brand
        
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav
                li
                    a(href="view1") View1
                li  
                    a(href="view2") View2 
                li
                    a(href="home") Home
    .container      
        div(ng-controller='AppCtrl', ng-init="init()")
            .jumbotron  
                h1 Hi there
            div(ng-repeat="post in posts")
                button(ng-click="load(post.url)") {{post.name}} - {{post.artist[0]}}
            div(ng-view)
        hr  
        div
            | Angular seed app: v
            span(app-version)
        
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular/angular-route.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/lib/jquery/jquery-2.0.3.min.js')
    script(src='bootstrap/js/bootstrap.min.js')

block footer
    div(class="navbar navbar-inverse navbar-fixed-bottom")
            div(class="container")
                center
                    iframe(id="soundcloud_widget", src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/39804767", width="840", height="60", frameborder="no")
        div(style="height: 70px")