!!!
html(ng-app="myApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Angular Express Bootstrap Seed App
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.css')
        script(src='https://w.soundcloud.com/player/api.js')
        script(src='https://connect.soundcloud.com/sdk.js')
    body
        block body
        block footer